<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value/>
    </context-param>
    <context-param>
        <param-name>jdbcUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcBD</param-name>
        <param-value>ecomerce</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <servlet>
        <servlet-name>ControladorEComerce</servlet-name>
        <servlet-class>ecomerce.controlador.ControladorEComerce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoServlet</servlet-name>
        <servlet-class>ecomerce.controlador.ProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>ecomerce.controlador.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdenServlet</servlet-name>
        <servlet-class>ecomerce.controlador.OrdenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorEComerce</servlet-name>
        <url-pattern>/categorias</url-pattern>
        <url-pattern>/nuevaCategoria</url-pattern>
        <url-pattern>/guardarCategoria</url-pattern>
        <url-pattern>/eliminarCategoria</url-pattern>
        <url-pattern>/editarFormCategoria</url-pattern>
        <url-pattern>/actualizarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoServlet</servlet-name>
        <url-pattern>/ProductoServlet</url-pattern>
        <url-pattern>/productos</url-pattern>
        <url-pattern>/nuevoProducto</url-pattern>
        <url-pattern>/guardarProducto</url-pattern>
        <url-pattern>/eliminarFormProducto</url-pattern>
        <url-pattern>/editarFormProducto</url-pattern>
        <url-pattern>/actualizarFormProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/usuarios</url-pattern>
        <url-pattern>/nuevoUsuario</url-pattern>
        <url-pattern>/guardarUsuario</url-pattern>
        <url-pattern>/editarUsuario</url-pattern>
        <url-pattern>/eliminarUsuario</url-pattern>
        <url-pattern>/actualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdenServlet</servlet-name>
        <url-pattern>/ordenes</url-pattern>
        <url-pattern>/nuevaOrden</url-pattern>
        <url-pattern>/guardarOrden</url-pattern>
        <url-pattern>/editarOrden</url-pattern>
        <url-pattern>/actualizarOrden</url-pattern>
        <url-pattern>/eliminarOrden</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>Header and Footer</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/*</url-pattern>
            <include-prelude>/WEB-INF/section/header.jspf</include-prelude>
            <include-coda>/WEB-INF/section/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
