<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorEComerce</servlet-name>
        <servlet-class>ecomerce.controlador.ControladorEComerce</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorEComerce</servlet-name>
        <url-pattern>/categoria</url-pattern>
        <url-pattern>/agregarAlCarro</url-pattern>
        <url-pattern>/verCarro</url-pattern>
        <url-pattern>/actualizarCarro</url-pattern>
        <url-pattern>/pagar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>Header and Footer</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/*</url-pattern>
            <include-prelude>/WEB-INF/section/header.jspf</include-prelude>
            <include-coda>/WEB-INF/section/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
